/* Стилі для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  /* Стилі для заголовка */
  h1 {
    color: #333;
  }
  
  /* Стилі для введення числа */
  #numberInput {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Стилі для кнопки */
  #sendButton {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #sendButton:hover {
    background-color: #0056b3;
  }
  
  /* Стилі для текстового повідомлення */
  #text {
    color: #333;
    font-size: 18px;
    margin: 20px;
  }
  
  /* Стилі для кількості спроб */
  #clickCounter {
    font-weight: bold;
    color: #0074d9;
  }